<section class="pb-0" id="blog">
    <div class="virus-box-1 shapes" data-opacity="0.2"></div>
    <div class="virus-box-2 shapes" data-opacity="0.2"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 heading-style-one box-title">
                <h6 class="default-color text-uppercase">Our Recent Blogs</h6>
                <h2><span class="font-700">Latest Updates for Coronavirus</span></h2>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-md-4">
                <div class="post">
                    <div class="post-img"> <img class="img-responsive" src="{{ helper.custom_link('assets/images/post/post-01.jpg')}}" alt=""/> </div>
                    <div class="post-info">
                        <h3><a href="blog-grid.html">Economic Policies for the COVID-19 War</a></h3>
                        <p>The COVID-19 pandemic is a crisis like no other. It feels like a war, and in many ways it is.</p>
                        <div class="date">7 hours ago</div>
                        <a class="readmore" href="#"><span>Read More <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
                </div>
            </div>
            <!--=== Post End ===-->

            <div class="col-md-4">
                <div class="post">
                    <div class="post-img"> <img class="img-responsive" src="{{ helper.custom_link('assets/images/post/post-02.jpg')}}" alt=""/> </div>
                    <div class="post-info">
                        <h3><a href="blog-grid.html">Coronavirus at Record High</a></h3>
                        <p>The coronavirus continues to spread. As more countries impose quarantines and social distancing.</p>
                        <div class="date pink-color">Yesterday</div>
                        <a class="readmore" href="#"><span>Read More <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
                </div>
            </div>
            <!--=== Post End ===-->

            <div class="col-md-4">
                <div class="post">
                    <div class="post-img"> <img class="img-responsive" src="{{ helper.custom_link('assets/images/post/post-03.jpg')}}" alt=""/> </div>
                    <div class="post-info">
                        <h3><a href="blog-grid.html">Maintaining Banking System Safety amid the COVID-19 Crisis</a></h3>
                        <p>Today we face economic upheaval potentially more severe than we witnessed during the global financial crisis.</p>
                        <div class="date blue-color">January 21, 2020</div>
                        <a class="readmore" href="#"><span>Read More <i class="eicon mdi mdi-arrow-right"></i></span></a> </div>
                </div>
            </div>
            <!--=== Post End ===-->

        </div>
    </div>
</section>