<section class="parallax-bg fixed-bg pt-70 pb-70" data-stellar-background-ratio="0.2"
         style="background-image: url({{ helper.custom_link('assets/images/background/parallax.jpg)')}}">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="counter-wrap">
                    <h2><span class="counter">940,735</span></h2>
                    <h3>Total Cases</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-wrap">
                    <h2><span class="counter">47,518</span></h2>
                    <h3>Total Deaths</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-wrap">
                    <h2><span class="counter">196,221</span></h2>
                    <h3>Total Recovered</h3>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="counter-wrap">
                    <h2><span class="counter">696,996</span></h2>
                    <h3>Active Cases</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6"></div>
            <div class="col-md-4 col-sm-6">
                <a href="{{ helper.redirect('/statistics') }}" class="btn btn-candy btn-circle">
                    View More About Covid Statistics
                </a>
            </div>
            <div class="col-md-4 col-sm-6"></div>
        </div>
    </div>
</section>