<section id="doctor">
    <div class="container">
        <div class="row">
            <div class="col-md-6 heading-style-one box-title-two text-left">
                <h6 class="yellow-color text-uppercase">Ask for advice and consult our doctors</h6>
                <h2><span class="font-700">Meet Our Experts</h2>
                <p>An ongoing worldwide pandemic of coronavirus disease 2019 (COVID-19), a novel infectious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2), was first confirmed to have spread to Italy on 31 January 2020, when two Chinese tourists in Rome tested positive for the virus.</p>
            </div>
        </div>

        <div class="row mt-50">
            <!-- Team Block -->
            <div class="team-block col-lg-4 col-md-4 col-sm-12">
                <div class="inner-box">
                    <ul class="social-icons">
                        <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-skype"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-linkedin"></i></a></li>
                    </ul>
                    <div class="image">
                        <a href="#"><img src="{{ helper.custom_link('assets/images/team/team-01.png')}}" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">David Marks</a></h3>
                        <div class="designation">MBBS, FRCEM, MD</div>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-4 col-md-4 col-sm-12">
                <div class="inner-box">
                    <ul class="social-icons">
                        <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-skype"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-linkedin"></i></a></li>
                    </ul>
                    <div class="image">
                        <a href="#"><img src="{{ helper.custom_link('assets/images/team/team-02.png')}}" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">Lynda Stone</a></h3>
                        <div class="designation">MBBS, FCPS (Medicine)</div>
                    </div>
                </div>
            </div>

            <!-- Team Block -->
            <div class="team-block col-lg-4 col-md-4 col-sm-12">
                <div class="inner-box">
                    <ul class="social-icons">
                        <li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-skype"></i></a></li>
                        <li><a href="#"><i class="mdi mdi-linkedin"></i></a></li>
                    </ul>
                    <div class="image">
                        <a href="#"><img src="{{ helper.custom_link('assets/images/team/team-03.png')}}" alt="" /></a>
                    </div>
                    <div class="lower-content">
                        <h3><a href="#">Saray Casey</a></h3>
                        <div class="designation">MBBS, FCPS</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>