<section class="home-slider" id="home">
    <div class="default-slider slick">
        <div class="slide">
            <div class="slide-img parallax-effect" style="background:url({{ helper.custom_link('assets/images/slides/home-bg-1.jpg')}}) center center / cover scroll no-repeat;"></div>
            <div class="hero-text-wrap">
                <div class="hero-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="upper-case dark-color font-600">Infectious</h3>
                                <h1 class="upper-case font-800 default-color">Covid 19</h1>
                                <p class="dark-color">Coronavirus disease (COVID-19) is an infectious disease caused by a new virus. The disease causes respiratory illness (like the flu) with symptoms such as a cough, fever, and in more severe cases, difficulty breathing.</p>
                                <p class="text-left mt-30"><a class="btn btn-color btn-circle btn-md page-scroll" href="#faqs">How to Protect</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide-img parallax-effect" style="background:url({{ helper.custom_link('assets/images/slides/home-bg-2.jpg')}}) center center / cover scroll no-repeat;"></div>
            <div class="hero-text-wrap">
                <div class="hero-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <h3 class="upper-case dark-color font-600">Stay Home</h3>
                                <h1 class="upper-case font-800 green-color">Stay Safe</h1>
                                <p class="dark-color">Italy reported 683 new deaths in the coronavirus pandemic, bringing its total to 7,503. Spain, meanwhile, recorded more than 700 deaths over the past 24 hours.</p>
                                <p class="text-left mt-30"><a class="btn btn-green btn-circle btn-md" href="https://www.who.int/health-topics/coronavirus">About Virus</a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>