<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 heading-style-one box-title-two text-left">
                <h6 class="red-color text-uppercase">How Coronavirus is Spread</h6>
                <h2><span class="font-700">Transmission of (COVID-19)</h2>
                <p>This version updates the 27 March publication by providing definitions of droplets by particle size and adding three relevant publications. </p>
            </div>
        </div>

        <div class="row mt-50">
            <div class="col-md-4 main-service-box text-center col-sm-4 feature-box">
                <i class="infection-icon img-icon"></i>
                <h4>Human Contact</h4>
                <p>Integer purus ipsum, auctor vitae posuere et, consectetur ac leo. Pellentesque sit amet risus sagittis, fermentum ligula.</p>
            </div>
            <div class="col-md-4 main-service-box text-center col-sm-4 feature-box">
                <i class="earth-icon img-icon"></i>
                <h4>Air Transmission</h4>
                <p>Integer purus ipsum, auctor vitae posuere et, consectetur ac leo. Pellentesque sit amet risus sagittis, fermentum ligula.</p>
            </div>
            <div class="col-md-4 main-service-box text-center col-sm-4 feature-box">
                <i class="food-icon img-icon"></i>
                <h4>Contaminated</h4>
                <p>Integer purus ipsum, auctor vitae posuere et, consectetur ac leo. Pellentesque sit amet risus sagittis, fermentum ligula.</p>
            </div>
        </div>
    </div>
</section>